label{
    color: white;
}

h2{
    color: white;
}

input{
    color: white;
    background-color: transparent;
}

select{
    color: white;
    background-color: transparent;
}

.my-pagination::ng-deep .page-item .page-link {
    z-index: 1;
    color: white;
    background-color:transparent !important;
    border: none;
}

.my-pagination::ng-deep .page-item.active .page-link {
    z-index: 1;
    border-color: white;
    border-style: solid !important;
    border-radius: 5px;
}