.dropdown-toggle,
dropdown-item {
  cursor: pointer;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}

.image{
  border: none;
  margin-right: 15px;
}

nav{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.dropdown-menu {
  background: rgba(0,0,0,0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

a{
  color: white;
}